<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/dashboard/v1">GFC Bank</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#selectMenuOptions">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="selectMenuOptions">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payments &amp; Transfer</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/payments/transaction">Make a Transaction</a>
          <a class="dropdown-item" href="#">Manage Payments</a>
          <a class="dropdown-item" routerLink="history">History</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container uipay">
  <form name="acctdetails" #payinit="ngForm" novalidate>
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#paymentinit">
        Fill your account details
      </a>
      </div>
      <div id="paymentinit" #paymentinit class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <label class="">Branch</label>
          <div class="form-group row">
            <div class="input-group inputpay">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="image" src="/assets/images/dropdown.png" (click)="showBranchLookup($event)" title="Branch lookup" width="15px" height="15px">
                </div>
              </div>
              <input class="form-control col-2" placeholder="SBI Chennai" name="brcod" [(ngModel)]="transaction.brCod" #brCod="ngModel" maxlength="100" id="brcod" type="text" (contextmenu)="onRightClick($event)" required/>
              <div *ngIf="">

              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="inputpay">
              <!-- <label>Account Number</label> -->
              <span class="fa required">Full Name</span>
              <input type="text" name="acctname" class="form-control" minlength="6" placeholder="Enter your Name" [(ngModel)]="transaction.acctName" #acctName="ngModel" maxlength="50" (contextmenu)="onRightClick($event)" required/>

              <div *ngIf="acctName.invalid && (acctName.dirty || acctName.touched)" class="alert alert-danger">
                <div *ngIf="acctName.errors.minlength">
                  Please enter valid Name
                </div>
                <div *ngIf="acctName.errors.required">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="col-5">
              <!-- <label>Account Number</label> -->
              <span class="fa ">Address</span>
              <input type="text" name="address" [(ngModel)]="transaction.address" #address="ngModel" class="form-control" placeholder="Address" maxlength="100" (contextmenu)="onRightClick($event)"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="inputpay">
              <!-- <label>Account Number</label> -->
              <span class="fa fa-credit-card cardspan required"> Account Number</span>
              <input type="number" name="acctNo" [(ngModel)]="transaction.acctNo" minlength="10" #acctNo="ngModel" class="form-control" placeholder="4510-XXXX-XXXX-XX13" maxlength="20" [appNumbersOnly]="true" (contextmenu)="onRightClick($event)" required/>
            </div>
          </div>
          <div *ngIf="acctNo.invalid && (acctNo.dirty || acctNo.touched)" class="alert alert-danger">
            <div *ngIf="acctNo.errors.minlength">
              Please enter valid Account Number
            </div>
            <div *ngIf="acctNo.errors.required">
              Account Number is required.
            </div>
          </div>
          <div class="savePayment">
            <button type="submit" class="btn" [disabled]="payinit.invalid" (click)="collapseAccountDetail(paymentinit)">
              <!-- <i *ngIf="loading" class="fa fa-refresh fa-spin"></i> -->
            Save</button>
            <button type="button" class="btn" (click)="payinit.resetForm({})">Reset
                </button>
          </div>

        </div>
      </div>
    </div>
  </form>
  <!-- Beneficiay details -->
  <div class="card cardAdjust">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#beneficiaydetail">
        Beneficiary details
      </a>
    </div>
    <div id="beneficiaydetail" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <form #beneficiay="ngForm" novalidate>
        <div class="form-group row">
          <div class="inputpay">
            <!-- <label>Account Number</label> -->
            <span class="fa required">Beneficiay Full Name</span>
            <input type="text" name="benename" [(ngModel)]="beneficiary.beneName" #beneName="ngModel" class="form-control" placeholder="Pardeep Kumar" maxlength="25" (contextmenu)="onRightClick($event)" required/>
          </div>
        </div>
        <div class="form-group row">
          <div class="inputpay">
            <!-- <label>Account Number</label> -->
            <span class="fa fa-credit-card cardspan required"> Beneficiay Account Number</span>
            <input type="number" name="acctno" [(ngModel)]="beneficiary.beneAcctNo" #beneAcctNo="ngModel" class="form-control" placeholder="7420-XXXX-XXXX-XX13" maxlength="12" [appNumbersOnly]="true" (contextmenu)="onRightClick($event)" required/>
          </div>
          <div class="col-5">
            <!-- <label>Account Number</label> -->
            <span class="fa cardspan">Beneficiay Address</span>
            <input type="text" class="form-control" name="address" [(ngModel)]="beneficiary.beneAddress" #beneAddress="ngModel" placeholder="Address" maxlength="100" (contextmenu)="onRightClick($event)"/>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Transaction details -->
  <div class="card cardAdjust">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#transactiondetail">
        Transaction details
      </a>
    </div>
    <div id="transactiondetail" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <form #transactionDetail="ngForm" novalidate>
          <div class="form-group row">
            <div class="col-3">
              <!-- <label>Account Number</label> -->
              <span class="fa required">Amount in INR</span>
              <input type="number" name="amount" [(ngModel)]="transaction.amount" #amount="ngModel" class="form-control" placeholder="₹ 1500.00" minlength="2" [numberWithDecimal]=true (contextmenu)="onRightClick($event)" required/>
            </div>
            <div class="col-5">
              <span class="fa">Transaction Message</span>
              <input type="text" name="message" class="form-control" [(ngModel)]="transaction.tranMessage" #tranMessage="ngModel" placeholder="Message" maxlength="100" (contextmenu)="onRightClick($event)"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="submitTran">
    <button type="submit" (click)="submitTransaction($event)" class="btn" [disabled]="!(payinit.valid && beneficiay.valid && transactionDetail.valid)">Submit Transaction</button>
    <button type="button" class="btn" (click)="payinit.resetForm({});beneficiay.resetForm({});transactionDetail.resetForm({})">Reset
        </button>
  </div>

</div>
