
.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.uipay{
  margin-top: 100px;
  margin-bottom: 100px;
}

.cardspan{
  margin-top: 10px;
  margin-bottom: 10px;
}
.lookup{
  margin-right: 5px;
}

.inputpay{
  margin-left: 10px;
}

.lookupicon{
width: 25px;
height: 25px;
}

.cardAdjust{
  margin-top: 10px;
  margin-bottom: 10px;
}

.inColumn{
  margin-top: 10px;

}
.required:after { content:" *";
color: red;}

.submitTran{
  margin-top: 20px;
}
